<div class="hero-area  relative py-20 xl:py-20 mt-28">
    <div class="container mx-auto">
        <div class="hero-box-3 relative grid gap-6 grid-cols-1 lg:grid-cols-12 items-center text-center lg:text-left">
            <div class="lg:col-span-8">
                <div class="hero-content   text-center lg:text-left relative lg:pr-14">
                    <h1 class="font-serif !leading-tight text-4xl lg:text-6xl text-gray-800 font-medium mb-6">
                        {{page.title}}</h1>
                    <div class="author flex items-center">
                        <img class="w-10 h-10 rounded-full object-cover"
                            src="https://www.gravatar.com/avatar/09ac38fd18b276264dcf7f1313e2dcf5?s=250&amp;r=x&amp;d=mp"
                            alt="{{page.author}}">
                        <div class="course-content ml-2">
                            <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-medium duration-300">
                                <strong>{{page.author}}</strong>
                            </h6>
                            <p class="text-sm text-gray-400 font-normal opacity-60">{{page.author_location}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-4">
                <div class="feature-image relative aos-init aos-animate" data-aos="fade" data-aos-delay="100">
                    <img class="w-full rounded-xl"
                        src="https://images.unsplash.com/photo-1606161290889-77950cfb67d3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDJ8fGZpZ21hfGVufDB8fHx8MTY2MDU0MDk0MQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                        alt="Figma UI UX Design Essentials - Getting Started">
                </div>
            </div>
        </div>
    </div>
</div>