<div class="lesson-box-2 rounded-lg hover:shadow-lg duration-300 p-6 flex justify-between items-center group">
    <div
        class="lesson-logo flex-none bg-blue-50 p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mr-4">
        <img class="w-5 h-5" src="{{'/assets/images/icons/doc.svg' | relative_url}}" alt="{{doc.title}}">
    </div>
    <div class="lesson-content flex-auto">
        <h4 class="font-serif text-xl text-gray-800 hover:text-blue-800 font-medium mb-2 duration-300">
            <a href="{{doc.url | relative_url}}">{{doc.title}}</a>
        </h4>
        <p class="text-base leading-relaxed text-gray-400 font-normal">12 July, 2022</p>
    </div>
    <div class="feature-image relative hidden lg:block">

        <img class="h-24 w-36 rounded-xl object-cover" src="{{doc.feature_image | relative_url}}" alt="{{doc.title}}">
    </div>
</div>