/*
=====================
CSS Table of Conttent 
=====================
01. normalize   
02. slick slider
03. button pulse  
04. dropdown menu
05. magnific effect
06. anchor link hover
07. sticky header 
*/
/* 01. normalize */
* {
    scroll-behavior: smooth !important;
}

/* 02. slick slider */
.slick-slide {
    margin: 2px 16px;
}

.slick-list {
    margin: 0 -16px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
}

.slick-dots .slick-active button {
    background-color: #1363DF;
}

.slick-dots li button {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #eeeeee;
    color: transparent;
}

/* ripple effect */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 82, 212, 0.05), 0 0 0 20px rgba(0, 82, 212, 0.05), 0 0 0 40px rgba(0, 82, 212, 0.05), 0 0 0 60px rgba(0, 82, 212, 0.05);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 82, 212, 0.05), 0 0 0 40px rgba(0, 82, 212, 0.05), 0 0 0 60px rgba(0, 82, 212, 0.05), 0 0 0 80px rgba(0, 128, 0, 0);
    }
}

.video-popup {
    animation: ripple 0.6s linear infinite;
}

/* 04. dropdown menu */
@media all and (min-width: 1024px) {
    .navbar-nav .dropdown .dropdown-toggle {
        position: relative;
        padding-right: 25px !important;
    }

    .navbar-nav .dropdown .dropdown-toggle .sub-toggle {
        display: none;
    }

    .navbar-nav .dropdown .dropdown-toggle:after {
        content: "";
        background-image: url(../images/down-arrow.webp);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        margin: auto;
    }

    .navbar-nav .dropdown .dropdown-menu {
        min-width: 180px;
        position: absolute;
        top: 100%;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
        transition: transform 150ms ease-in;
        z-index: 222;
        visibility: hidden;
        opacity: 0;
    }

    .navbar-nav .dropdown .dropdown-menu li {
        position: relative;
    }

    .navbar-nav .dropdown .dropdown-menu li a {
        display: block;
        white-space: nowrap;
    }

    .navbar-nav .dropdown .dropdown-menu .dropdown-toggle::after {
        transform: rotate(-90deg);
    }

    .navbar-nav .dropdown .dropdown-menu.dropdown-submenu {
        left: 100%;
        top: 0px !important;
    }

    .navbar-nav>li.dropdown:hover>.dropdown-menu,
    .navbar-nav .dropdown-menu>li:hover>.dropdown-submenu {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (max-width: 1023px) {
    .mobile-menu {
        position: absolute;
        top: 100%;
        z-index: 50;
        width: 100%;
        padding: 15px 15px 15px 5px;
        max-height: 280px;
        overflow-y: auto;
    }

    .mobile-toggle {
        width: 40px;
        height: 40px;
        position: relative;
        right: 0;
        z-index: 5;
    }

    .mobile-toggle span {
        display: block;
        width: 25px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 9px;
        border-radius: 3px;
        transition: 300ms ease;
    }

    .mobile-toggle span:nth-child(2) {
        top: 19px;
    }

    .mobile-toggle span:nth-child(3) {
        top: 28px;
    }

    .mobile-toggle.open span:nth-child(1) {
        top: 20px;
        transform: rotate(-45deg);
    }

    .mobile-toggle.open span:nth-child(2) {
        top: 20px;
        opacity: 0;
    }

    .mobile-toggle.open span:nth-child(3) {
        top: 20px;
        transform: rotate(45deg);
    }

    .navbar-nav .dropdown .dropdown-toggle {
        position: relative;
        display: block;
    }

    .navbar-nav .dropdown .dropdown-toggle .sub-toggle {
        display: block;
        height: 28px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-nav .dropdown .dropdown-menu {
        display: none;
    }

    .navbar-nav .dropdown .dropdown-menu li {
        padding-left: 10px;
    }
}

/**  
 * 05. magnific effect 
 */
.my-mfp-slide-main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    overflow-x: hidden;
}

.my-mfp-slide-main .main-area {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
}

.my-mfp-slide-bottom {
    min-height: 100%;
    background-color: #ffffff;
    opacity: 1;
}

.my-mfp-slide-bottom .mfp-container {
    padding: 0;
}

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px);
}

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0);
}

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    transform: translateY(-20px);
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/**
 * 06. anchor link hover
 */
.wavy-hover {
    position: relative;
}

.wavy-hover:hover:after {
    box-shadow: 0 0 0 2px #006aff, 0 0 0 4px #f1f6fd;
}

.wavy-hover:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    left: -15px;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 0 0 0 #f1f6fd, 0 0 0 0 #006aff;
    transition: 0.4s ease-in-out;
}

/** 
 * 07. tab slider
 */

.tab-slider--nav {
    width: 100%;
    float: left;
}

.tab-slider--tabs {
    display: block;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.tab-slider--trigger {
    position: relative;
    z-index: 2;
    cursor: pointer;
    padding: 16px;
    display: inline-block;
    transition: color 300ms ease-in-out;
    user-select: none;
}

.tab-slider--trigger::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.tab-slider--trigger.active {
    color: #0052D4;
}

.tab-slider--trigger.active::before {
    background-color: #0052D4;
}

/** 
 * 07. missonary grid
 */

@media (min-width: 1024px) {
    .topics-grid>div {
        grid-column: span 4/span 4;
    }
}

@media (min-width: 768px) {
    .topics-grid>div:nth-child(3n) {
        grid-column: span 6/span 6;
    }
}


/* fix video layout/ */

.video-container,
.videos-box,
.kg-embed-card {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container object,
.video-container embed,
.video-container iframe,

.kg-embed-card object,
.kg-embed-card embed,
.kg-embed-card iframe,
.videos-box object,
.videos-box embed,
.videos-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ol.lesson-list {
    padding: 25px 20px;
}

.active a {
    --tw-shadow: 0px 4px 90px rgba(163, 171, 185, 0.24);
    --tw-shadow-colored: 0px 4px 90px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    display: block;
}
ol.lesson-list li a:hover h4 {
    color: rgb(0 82 212 / var(--tw-text-opacity));
}

div#results-container {
    padding: 15px;
    text-align: left;
}

a.gh-search-item {
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

a.gh-search-item:hover {
    color: #1363DF;
}