---
layout: default
---

{% include header.html %}

{% assign tag = page.tags %}
{% assign docs = site.docs | where: "tags", tag[0] %}

{% for topic in site.data.topics %}
    {% if page.title == topic.slug %}
        {% assign tag_img = topic.icon %}
    {% endif %}
{% endfor %}

{% include doc-page-title.html %}

<section class="single-area pb-20">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-12 gap-8">
            <div class="lg:col-span-4">            
                <div class="sidebar rounded-lg sticky top-32 shadow shadow-lg duration-300">
                    <div class="left-lesson-list">
                        <div class="related-lesson">
                            <div class="lesson-list sticky top-0">
                                <ol class="lesson-list ">
                                  
                                    {% for doc in site.docs %}
                                        {% assign tag = doc.tags %}
                                        {% for tag in doc.tags %}
                                            {% if page.tags contains tag %}
                                                {% assign has_tag = true %}
                                                {% break %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if has_tag == true %}
                                            <li {% if page.doc_id == doc.doc_id %}class='active'{% endif %}>
                                                {% include doclist.html %}
                                            </li>
                                        {% endif %}
                                        {% assign has_tag = false %}
                                    {% endfor%}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-8">
                <div class="gh-content gh-canvas pb-12">
                    {{page.content}}
                </div>
                <div class="gh-canvas"></div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}